@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: light;
}

.organic-shape {
  background-color: #ede8dc;
  width: 600px;
  height: 600px;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}
